#greenHead{
  background-image: url(../../../assets/images/cross.jpg);
  height: 220px !important;
}

.Menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.Menu li{
  display: inline-block;
  padding-right: 12px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
