#cursorPointer{
    cursor: pointer !important;
}

#modalWindow {
    max-width: 880px !important;
}

#img_rounded{
    margin: 0% 17%;
    padding: 22px !important;
}

#p-custom{
    font-size: 1.0rem;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  #rightGreen{
    background-color: #00DB99;
    border: 1px solid #00DB99;
    color: white;
  }

  #ptitle-card{
    margin-bottom: 0px !important;
    font-size: 1.25rem;
    font-weight: bolder;
  }

  #alert-message {
    font-size: 0.75rem;
    margin-top: 5px;
    padding: 4px 5px 4px 9px;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  #custom-header {
    background-color: #00DB99 !important;
    border-bottom: 1px solid #00DB99;
    height: 140px !important;
    border-top-right-radius: 0px !important;
  }

  .in-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #subtitle-custom{
    margin-top: 7%;
    margin-bottom: 0rem;
    color: white;
    font-weight: bolder;
  }

  #bible-text {
    font-size: small;
  }

  .th-non-border{
    border-top: 0px solid #dee2e6 !important;
  }

  #custom-left-card{
    padding-right: 0px !important;
  }
  
  #custom-right-card{
    padding-left: 0px !important;
   /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;*/
  }
  
  #left-card{
    border-top-right-radius: 0px !important;
    border-top-color: rgba(0, 0, 0, 0.125);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-right-radius: 0px !important;
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.125);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  #card-footer-non-radius {
    border-bottom-right-radius: 0px !important;
}


